<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>             
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025629">Frontend-разработчик (Angular.js)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TrueNorth</td> 
     <td class="salary">От 120 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025630">.Net Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TrueNorth</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020197">Преподаватель Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 15 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026047">Технический дизайнер для обработки макетов в Adobe Illustrator</a></td> 
     <td class="city"></td> 
     <td class="companyName">Reasoning Mind</td> 
     <td class="salary">От 40 000 до 40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025966">Релиз-менеджер (веб-продюсер)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Webasyst</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026126">Senior Android Developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Social Discovery Ventures</td> 
     <td class="salary">От 2 500 до 2 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000019790">Преподаватель вебинаров по программированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 15 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025686">Senior Developer .NET</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Social Discovery Ventures</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025414">Веб-разработчик на «Единого клиента» (фронтенд)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">HumanFactorLabs</td> 
     <td class="salary">От 170 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025985">UX\UI Designer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Align Technology Inc</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026095">Разработчик Python/Asyncio</a></td> 
     <td class="city"></td> 
     <td class="companyName">Девхаб</td> 
     <td class="salary">До 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026206">Python developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Plarin</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>